<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Sharing Platform</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<header>
    <h2 style="font-family:poppins; font-size:28px;" >📚 Notes Sharing Platform</h2>

    <nav>
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="#">Notes</a>
        <a href="#">Upload</a>
        <a href="/register.html">Register</a>
        <a href="/login.html">Login</a>
    </nav>
</header>

<section class="hero">
    <h1>📝Share Notes, Learn Together</h1>
    <p style="font-family:poppins; font-style:italic; font-size:26px; font-weight:bold;">Upload and download study materials easily.</p>

    <button onclick="window.location.href='/register.html'">
        Get Started
    </button>
</section>

<script src="/js/script.js"></script>

</body>
</html>