<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Dashboard</title>
    <link rel="stylesheet" href="/css/notes.css">
</head>
<body>

<header>
    <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 28px;color:black">📚 Notes Sharing Platform</h2>

    <nav>
        <a href="/">Home</a>
        <a href="/upload.html">Upload Notes</a>
        <a href="#">Download Notes</a>
        <a href="#">My Notes</a>
        <a href="/login.html">Logout</a>
    </nav>
</header>

<div class="container">

    <div class="welcome">
        <h1 style="color:black;font-family: 'Times New Roman', Times, serif; font-size: 35px;">👋 Welcome!</h1>
        <p style="font-style: italic;">Share your study materials and learn together.</p>
    </div>

    <div class="cards">

        <div class="card">
            <h3 style="color:black;font-family: 'Times New Roman', Times, serif; font-size: 24px;">📤 Upload Notes</h3>
            <p>Upload PDF, PPT, DOC and other study materials.</p>
            <a href="/upload.html" class="btn">Upload</a>
        </div>

        <div class="card">
            <h3 style="color:black;font-family: 'Times New Roman', Times, serif; font-size: 24px;">📥 Download Notes</h3>
            <p>Download notes shared by other students.</p>
            <a href="/download" class="btn">Download</a>
        </div>

        <div class="card">
            <h3 style="color:black;font-family: 'Times New Roman', Times, serif; font-size: 24px;">📚 My Notes</h3>
            <p>View all your uploaded notes in one place.</p>
            <a href="/mynotes" class="btn">View</a>
        </div>

        <div class="card">
            <h3 style="color:black;font-family: 'Times New Roman', Times, serif; font-size: 24px;">🔍 Search Notes</h3>
            <p>Search notes by subject or semester.</p>
            <a href="/search.html" class="btn">Search</a>
        </div>

    </div>

</div>

<footer style="font-weight:bold; font-family:poppins;color:black; text-align:center;background-color:#ccc9c9 ">
    <p>© 2026 Notes Sharing Platform | Made with 🎓</p>
</footer>

</body>
</html>